venv310/
.venv/
__pycache__/
*.pyc
*.pyo
train_yolo.ipynb

*.pt
*.pth
*.onnx


data/runs/
data/samples/
data/DS_FacePart_LaPa/
data/DS_Face_Body/
data/DS_SpoonKnife/

outputs/


*.ipynb_checkpoints/

.vscode/
.idea/

.DS_Store
Thumbs.db

train_yolov8m-seg_Face_Body_8epochs/

tests/